body {
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

#head {
    height: 10vh;
    display: flex;
    font-size: 14px;
}

#main {
    height: 75vh;
    display: flex;
    justify-content: center;
}

#footer {
    background-color: rgb(204, 39, 163);
    height: 15vh;
}

.head-c {
    width: 50vw;
    height: 10vh;
}

#head-izq {
    display: flex;
}

#head-der {
   display: flex;
   text-align: right;
   font-size: 13px;
}

#gmail {
    margin-right: 15px;
    margin-left: 412px;
    margin-top: 22px;
    height: auto;
    width: auto;
}

#imagenes {
    margin-top: 22px;
    height: auto;
    width: auto;
    margin-right: 15px;
}

#icono-puntos {
    margin-top: 22px;
    width: 5%;
    height: 5%;
    margin-right: 5px;
}

#circulo-perfil {
    background-color: gray;
    width: 29px;
    height: 29px;
    margin-top: 14px;
    margin-left: 19px;
    border: 1px solid gray;
    border-radius: 100%;
}

#main-info {
    width: 50vw;
    height: 75vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

#logo-google {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

#busqueda {
    border: 1px solid rgb(221, 219, 219);
    border-radius: 20px;
    width: 578px;
    height: 44px;
    margin-bottom: 220px;
}

input {
    width: 170px;
    height: 30px;
}

#footer-link {
    background-color: rgb(170, 65, 65);
    display: flex;
}

#footer-link-izq {
    background-color: blueviolet;
    width: 30vw;
}

#footer-link-mid {
    background-color: rgb(43, 220, 226);
    width: 40vw;
}

#footer-link-der {
    background-color: rgb(43, 226, 52);
    width: 30vw;
}

.top-text {
    text-decoration: none;
    color: #202124;
}

.top-text:hover {
    text-decoration: underline;
}

#sobre-google {
    margin-top: 22px;
    margin-left: 26px;
}

#tienda {
    margin-top: 22px;
    margin-left: 20px;
}

