body {
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

#head {
    height: 10vh;
    display: flex;
    font-size: 14px;
}

#main {
    height: 80vh;
    display: flex;
    justify-content: center;
}

.head-c {
    width: 50vw;
    height: 10vh;
}

#head-izq {
    display: flex;
}

#head-der {
   display: flex;
   text-align: right;
   font-size: 13px;
}

#gmail {
    margin-right: 15px;
    margin-left: 412px;
    margin-top: 22px;
    height: auto;
    width: auto;
}

#imagenes {
    margin-top: 22px;
    height: auto;
    width: auto;
    margin-right: 15px;
}

#icono-puntos {
    margin-top: 22px;
    width: 5%;
    height: 5%;
    margin-right: 5px;
}

#circulo-perfil {
    background-color: gray;
    width: 29px;
    height: 29px;
    margin-top: 14px;
    margin-left: 19px;
    border: 1px solid gray;
    border-radius: 100%;
}

#main-info {
    width: 50vw;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

#logo-google {
    display: flex;
    justify-content: center;
    margin-top: 166px;
    margin-bottom: 26px;
}

#busqueda {
    border: 1px solid rgb(221, 219, 219);
    border-radius: 30px;
    width: 578px;
    height: 42px;
    background-color: white;
    margin-left: 27px;
    margin-bottom: 30px; 
}

input {
    width: 165px;
    height: 35px;
    background-color: rgb(252, 249, 249);
    border: 0px;
    font-size: 15px;
}

input:hover {
    border: 1px solid rgb(230, 222, 222);
}

#div-botones {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#boton-buscar {
    margin-right: 10px;
}

#main-info-idiomas {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #4D5156;
}

.idiomas {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

#footer {
    background-color: rgb(247, 240, 245);
    height: 10vh;
    color: #808386;
}

#footer-superior {
    height: 4vh;
    display: flex;
    align-items: center;
}

#footer-superior-espana {
    margin-left: 30px;
    margin-top: 5px;
    font-size: 15px;
}

#footer-link {
    display: flex;
    margin-top: 13px;
}

#footer-link-izq {
    width: 35vw;
    display: flex;
    font-size: 14px;
}

#footer-izq-publicidad {
    margin-left: 30px;
    text-decoration: none;
    color: #808386;
}

#footer-izq-publicidad:hover {
    text-decoration: underline;
}


#footer-link-mid {
    width: 35vw;
    font-size: 14px;
    justify-content: center;
}

.carbono {
    text-decoration: none;
    color: #808386;
}

#carbono {
    margin-left: 60px;
}

.carbono:hover {
    text-decoration: underline;
}

#footer-link-der {
    width: 30vw;
    display: flex;
    font-size: 14px;
    margin-right: 30px;
    justify-content: right;
}

.footer-derecha {
    margin-left: 20px;
}

.top-text {
    color: #202124;
}

.top-text:hover {
    text-decoration: underline;
}

#sobre-google {
    margin-top: 22px;
    margin-left: 26px;
}

#tienda {
    margin-top: 22px;
    margin-left: 20px;
}

